@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #dec805;
  --color-secondary: #878787;
  --color-text: #cccccc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
